<a href="https://colab.research.google.com/github/sohanchatterjee/AP-CSA/blob/main/ISE490_HW1_PythonBasics_Starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Please enter your name and student ID here.**



**Homework Python Basics**

## 1. (1 point). Data types
Convert a double to an integer (remove the decimal part).
You should get the integer 26.

In [ ]:
d1 = 26.6999

In [ ]:
# Provide your answer here.

## 2. (1 point). Data types
Convert a double to an integer (round).
You should get the integer 27.

In [ ]:
d1=26.6999

In [ ]:
# Provide your answer here.

## 3. (1.5 points). Interpolate a string.
Interpolate the variable values `age` and `weight` into a string using **f"{}"** .
You should get a string like this:
**"The age is 20 and the weight is 130.30"**

In [ ]:
age=20
weight=130.3

In [ ]:
# Provide your answer here.

## 4. (2 points). List Comprehension
Use list comprehension to create a dictionary list based on the age list. You should get a new list like this:
```text
[{'age': 23}, {'age': 45}, {'age': 12}, {'age': 26}]
```

In [ ]:
ageList=[23,45,12,26]

In [ ]:
# Provide your answer here.

## 5. (1.5 points). Dictionary
Add new fields to the following dictionary `stu` so that you get a new dictionary like this:

`{'age': 23, 'name': 'Aiden', 'weight': 136.6}`

You should not define a new dictionary `stu` like:

`stu = {'age': 23, 'name': 'Aiden', 'weight': 136.6}`

You can only add the new fields to the current `stu` dictionary.

In [ ]:
stu={"age":23,}

In [ ]:
# Provide your answer here.

## 6. (1 point). Use the `*` operator to create a list like this:
[2, 3, 2, 3, 2, 3, 2, 3, 2, 3]

In [ ]:
# Provide your answer here.

## 7. (2 points). Use a `for` loop and `range()` to print out odd numbers from 3 to 100, but skip the numbers 13, 15, 35, 37, and 91.
You should get a list of numbers like this:
```text
3
5
7
9
11
17
19
21
23
25
27
29
31
33
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
93
95
97
99
```

In [ ]:
# Provide your answer here.